.sideBackground {
  margin: 0;
  padding: 0;
  width: 100vh;
  //background-color: #f1f1f1;
  position: fixed;
  right: 0;
  height: 100vh;
  overflow: auto;
  background: black;
  z-index: 300;
  max-width: 20%;
  background-attachment: scroll,fixed;
}
